.cars-container--grid,
.car-card-chosen-container {
	display: grid;
	width: 100%;
	max-width: 1000px;
	grid-template-columns: repeat(10, 1fr);
	grid-auto-rows: auto;
	gap: var(--grid-gap);
	padding-bottom: var(--space-s);
}

.car-card {
	position: relative;
	min-height: 250px;
	padding: var(--space-xs);
}
.car-card--chosen {
	position: relative;
	padding-top: var(--space-xs);
	grid-column: span 10;
	grid-row: span 1;
	height: 250px;
	background-image: linear-gradient(
		to left,
		var(--car-bg) calc(100% - var(--space-l)),
		transparent calc(100% - var(--space-l))
	);
}
.car-card img {
	position: absolute;
	bottom: 0;
	max-height: 80%;
}
.car-card {
	/* padding: var(--space-xs); */
	letter-spacing: 1px;
}
.car-card--chosen h2,
.car-card--chosen p {
	margin-inline-start: var(--space-xl);
}
.car-card h2 {
	font-size: 1.8em;
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
	max-width: 14ch;
}

@media (min-width: 1000px) {
	.car-card--main-grid:nth-child(1) {
		font-size: 1.4em;
		grid-column: span 7;
		grid-row: span 2;
		background-image: linear-gradient(
			to left,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
	}
	.car-card--main-grid:nth-child(1) h2,
	.car-card--main-grid:nth-child(1) p {
		margin-inline-start: var(--space-l);
	}

	.car-card--main-grid:nth-child(2) {
		grid-column: span 3;
		grid-row: span 1;
		background-image: linear-gradient(
			to right,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
	}

	.car-card--main-grid:nth-child(3) {
		grid-column: span 3;
		grid-row: span 1;
		background-image: linear-gradient(
			to right,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
	}

	.car-card--main-grid:nth-child(n + 4):nth-child(2n) {
		grid-column: span 5;
		grid-row: span 1;
		background-image: linear-gradient(
			to left,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
	}
	.car-card--main-grid:nth-child(n + 4):nth-child(2n) h2,
	.car-card--main-grid:nth-child(n + 4):nth-child(2n) p {
		margin-inline-start: var(--space-l);
	}

	.car-card--main-grid:nth-child(n + 4):nth-child(2n + 1) {
		grid-column: span 5;
		grid-row: span 1;
		background-image: linear-gradient(
			to right,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
	}
}

@media (max-width: 1000px) {
	.cars-container--grid,
	.car-card-chosen-container {
		width: 100%;
	}
	.car-card--main-grid {
		grid-column: span 5;
		grid-row: span 1;
	}
	.car-card--main-grid:nth-child(1) {
		min-height: clamp(22rem, 35.294vw + 14.941rem, 37rem);
		font-size: 1.8em;
		grid-column: span 10;
		grid-row: span 6;
		background-image: linear-gradient(
			to left,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
		margin-right: var(--space-l);
	}
	.car-card--main-grid:nth-child(2n) {
		background-image: linear-gradient(
			to left,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
	}
	.car-card--main-grid:nth-child(2n + 3) {
		background-image: linear-gradient(
			to right,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
	}
	.car-card--main-grid:nth-child(1) h2,
	.car-card--main-grid:nth-child(1) p,
	.car-card--main-grid:nth-child(2n) h2,
	.car-card--main-grid:nth-child(2n) p {
		margin-left: var(--space-l);
	}
}
@media (max-width: 450px) {
	.car-card--main-grid:nth-child(1) {
		font-size: 1em;
	}
	.car-card--main-grid h2 {
		font-size: 1em;
	}
	.footer-row {
		flex-direction: column;
		gap: var(--space-xs);
		padding: var(--space-xl) 0;
	}
	.social-media-list {
		width: fit-content;
	}
	.cars-footer__line {
		display: none;
	}
	.copy-text {
		width: fit-content;
	}
}
/* car card details style */
.car-card__details-container {
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: var(--accent);
	min-width: fit-content;
	width: 100%;
	height: 100%;
	padding: var(--space-s);
	align-content: center;
	opacity: 0;
	transition: opacity 0.3s ease;
}
.car-card__details-container:hover {
	opacity: 1;
}
.car-card-chosen__details-container {
	width: 50%;
	opacity: 1;
}
.car-card__details-container li {
	padding-left: var(--space-m);
	letter-spacing: 0;
}
.car-card__details-container li::after {
	font-size: var(--small);
	font-weight: 500;
}
.car-card__details-container li:nth-child(1) {
	margin-bottom: var(--space-s);
	padding-left: var(--space-xs);
}
.brand-model {
	text-decoration: underline;
	font-weight: 600;
}
.year::before {
	content: "Year: ";
}
.engine-power::after {
	content: " HP";
}
.engine-power::before {
	content: "Engine Power: ";
}
.mileage::after {
	content: " miles";
}
.mileage::before {
	content: "Mileage: ";
}
.total-price,
.price::after {
	content: var(--currency-symbol);
}
.total-price {
	margin-top: var(--space-s);
	padding: var(--space-s) 0;
	font-weight: 500;
	border-top: 1px solid var(--base);
	width: fit-content;
}
#back-home-btn {
	transform: translateX(-25px);
}
