.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 90vw;
	max-width: 600px;
	transform: translate(-50%, -50%);
	background-color: var(--accent);
	padding: var(--space-l);
	border: 0;
	z-index: 1000;
}
.popup p {
	margin-bottom: var(--space-xs);
}
#close-popup-btn {
	position: fixed;
	top: var(--space-s);
	right: 0;
}
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 999;
}
#summary-message {
	padding-top: var(--space-m);
}
#final-countdown {
	color: var(--white);
	text-align: center;
	background-color: var(--invalid);
	margin: auto;
	border-radius: 50%;
	padding-top: var(--space-s);
	width: calc(var(--space-xl) * 2);
	height: calc(var(--space-xl) * 2);
}

.cars-container--grid,
.car-card-chosen-container {
	display: grid;
	width: 100%;
	max-width: 1000px;
	grid-template-columns: repeat(10, 1fr);
	grid-auto-rows: auto;
	gap: var(--grid-gap);
	padding-bottom: var(--space-s);
}

.car-card {
	position: relative;
	min-height: 250px;
	padding: var(--space-xs);
	letter-spacing: 1px;
}
.car-card[sorted],
.car-card[chosen] {
	position: relative;
	padding-top: var(--space-xs);
	grid-column: span 10;
	grid-row: span 1;
	height: 250px;
	background-image: linear-gradient(
		to left,
		var(--car-bg) calc(100% - var(--space-l)),
		transparent calc(100% - var(--space-l))
	);
}
.car-card__image {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 100%;
}
.car-card__btns-container {
	z-index: 998;
}
.car-card:not([chosen]):not([sorted]) .car-card__image {
	max-height: 80%;
	transition: transform 0.9s ease;
}
.car-card .car-card__details-container {
	transition: transform 0.9s ease;
}

.car-card[chosen] .car-card__title,
.car-card[sorted] .car-card__title {
	display: none;
}
.car-card[chosen] .car-card__image,
.car-card[sorted] .car-card__image {
	max-height: 108%;
	max-width: 70%;
	transition: transform 0.9s ease;
}
@media (min-width: 650px) {
	.car-card[chosen]:hover .car-card__image,
	.car-card[sorted]:hover .car-card__image {
		z-index: 100;
	}
	.car-card[chosen]:hover .car-card__image {
		transform: scale(1.2) translateX(-20px);
	}
	.car-card[chosen]:hover .car-card__details-container,
	.car-card[sorted]:hover .car-card__details-container {
		transition: transform 0.5s ease;
		transform: translateX(30%);
	}
	.car-card[chosen] .car-card__details-container,
	.car-card[sorted] .car-card__details-container {
		width: 50%;
	}
}
@media (max-width: 650px) {
	.car-card[chosen],
	.car-card[sorted] {
		height: 500px;
	}
	.car-card[chosen]:hover .car-card__image,
	.car-card[sorted]:hover .car-card__image {
		z-index: 100;
		max-width: 100%;
	}
	.car-card[chosen]:hover .car-card__image {
		transform: scale(1.2);
	}
	.car-card[chosen] .car-card__details-container,
	.car-card[sorted] .car-card__details-container {
		height: 50%;
		width: 100%;
		column-span: 10;
	}
}
.car-card h2 {
	font-size: 1.8em;
	line-height: 1;
	font-weight: var(--weigth-m);
	text-transform: uppercase;
	max-width: 14ch;
}

.car-card:not(.car-card[chosen]) .phone-btn {
	display: none;
}
.car-card[chosen] .car-card__btn {
	display: none;
}

/************************ */
/* car card details style */
/************************ */
.car-card__details-container {
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--accent);
	height: 100%;
	padding: var(--space-s);
	align-content: center;
}
.car-card[chosen] .car-card__details-container {
	opacity: 1;
	z-index: 30;
}

.car-card:not(.car-card[chosen]):not(.car-card[sorted])
	.car-card__details-container {
	width: 100%;
	opacity: 0;
}
.car-card:not([chosen]):not(.car-card[sorted])
	.car-card__details-container:hover {
	opacity: 1;
}
.car-card__details-container li {
	padding-left: var(--space-m);
	letter-spacing: 0;
}
.car-card__details-container li:after {
	font-size: var(--small);
	font-weight: var(--weigth-m);
}
.car-card__details-container li:nth-child(1) {
	margin-bottom: var(--space-s);
	padding-left: var(--space-xs);
}

.brand-model {
	text-decoration: underline;
	font-weight: var(--weigth-m);
}
.year::before {
	content: "Year: ";
}
.engine-power::after {
	content: " HP";
}
.engine-power::before {
	content: "Engine Power: ";
}
.mileage::after {
	content: " miles";
}
.mileage::before {
	content: "Mileage: ";
}
.car-price,
.accessory-price {
	white-space: nowrap;
}
.price-currency::after {
	content: var(--currency-symbol);
}
.total-price {
	margin-top: var(--space-s);
	padding: var(--space-s) 0;
	border-top: 1px solid var(--base);
	width: fit-content;
}
#back-home-btn {
	transform: translateX(-25px);
}
#brand-options-wrapper {
	position: absolute;
	background-color: var(--white);
	padding: 0;
	z-index: 100;
	box-shadow: 10px 10px 25px rgba(77, 77, 77, 0.162);
	z-index: 120;
}

.brand-options ul {
	list-style-type: none;
}

.brand-option {
	padding: var(--space-s) var(--space-l);
	border-top: 0.5px solid var(--base);
	cursor: pointer;
}

.brand-options ul li:hover {
	background-color: var(--base-light);
}
@media (min-width: 1000px) {
	.car-card:not(.car-card[chosen]):not(.car-card[sorted]):nth-child(1) {
		font-size: 1.4em;
		grid-column: span 7;
		grid-row: span 2;
		background-image: linear-gradient(
			to left,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
	}
	.car-card:not(.car-card[chosen]):not(.car-card[sorted]):nth-child(1) h2,
	.car-card:not(.car-card[chosen]):not(.car-card[sorted]):nth-child(1) p {
		margin-inline-start: var(--space-l);
	}

	.car-card:not(.car-card[chosen]):not(.car-card[sorted]):nth-child(2) {
		grid-column: span 3;
		grid-row: span 1;
		background-image: linear-gradient(
			to right,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
	}

	.car-card:not(.car-card[chosen]):not(.car-card[sorted]):nth-child(3) {
		grid-column: span 3;
		grid-row: span 1;
		background-image: linear-gradient(
			to right,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
	}

	.car-card:not(.car-card[chosen]):not(.car-card[sorted]):nth-child(
			n + 4
		):nth-child(2n) {
		grid-column: span 5;
		grid-row: span 1;
		background-image: linear-gradient(
			to left,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
	}
	.car-card:not([chosen]):not([sorted]):nth-child(n + 4):nth-child(2n) h2,
	.car-card:not([chosen]):not([sorted]):nth-child(n + 4):nth-child(2n) p {
		margin-inline-start: var(--space-l);
	}

	.car-card:not(.car-card[chosen]):not(.car-card[sorted]):nth-child(
			n + 4
		):nth-child(2n + 1) {
		grid-column: span 5;
		grid-row: span 1;
		background-image: linear-gradient(
			to right,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
	}
}

@media (min-width: 650px) and (max-width: 1000px) {
	.cars-container--grid,
	.car-card-chosen-container {
		width: 100%;
	}
	.car-card:not(.car-card[chosen]):not(.car-card[sorted]) {
		grid-column: span 5;
		grid-row: span 1;
	}
	.car-card:not(.car-card[chosen]):not(.car-card[sorted]):nth-child(1) {
		min-height: clamp(22rem, 35.294vw + 14.941rem, 37rem);
		font-size: 1.8em;
		grid-column: span 10;
		grid-row: span 6;
		background-image: linear-gradient(
			to left,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
		margin-right: var(--space-l);
	}
	.car-card:not(.car-card[chosen]):not(.car-card[sorted]):nth-child(2n) {
		background-image: linear-gradient(
			to left,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
	}
	.car-card:not(.car-card[chosen]):not(.car-card[sorted]):nth-child(2n + 3) {
		background-image: linear-gradient(
			to right,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
	}
	.car-card:not(.car-card[chosen]):not(.car-card[sorted]):nth-child(1) h2,
	.car-card:not(.car-card[chosen]):not(.car-card[sorted]):nth-child(1) p,
	.car-card:not(.car-card[chosen]):not(.car-card[sorted]):nth-child(2n) h2,
	.car-card:not(.car-card[chosen]):not(.car-card[sorted]):nth-child(2n) p {
		margin-left: var(--space-l);
	}
}
@media (max-width: 650px) {
	.car-card:not(.car-card[chosen]):not(.car-card[sorted]) {
		grid-column: span 10;
		grid-row: span 1;
		min-height: 350px;
		background-image: linear-gradient(
			to left,
			var(--car-bg) calc(100% - var(--space-l)),
			transparent calc(100% - var(--space-l))
		);
	}
	.car-card:not(.car-card[chosen]):not(.car-card[sorted]) h2 {
		font-size: 2em;
	}
	.car-card[chosen],
	.car-card[sorted] {
		min-height: 380px;
	}
	.footer-row {
		flex-direction: column;
		gap: var(--space-xs);
		padding: var(--space-xl) 0;
	}
	.social-media-list {
		width: fit-content;
	}
	.cars-footer__line {
		display: none;
	}
	.copy-text {
		width: fit-content;
	}
}

@keyframes slideLeft {
	0% {
		opacity: 1;
		transform: translateX(0);
		100% {
			opacity: 0;
			transform: translateX(-100%);
		}
	}
}
.slide-animation {
	animation: slideLeft 3s ease-in-out infinite;
}
#heaven-hell-answer {
	padding: var(--space-m) 0;
}
